@model IEnumerable<MVCDemo.Models.tblEmployee>
@{
    ViewBag.Title = "Index";
}

<h2>Get Employee By Name</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Search", new { @id = item.EmloyeeId })</li>
    }
</ul>



@Html.ActionLink("Back To Departments", "Names", "Department")
