
@{
    ViewBag.Title = "Index1";
}

<h2>Countries</h2>
<div>
    <ul>
        @foreach (var item in ViewBag.countries)
        {
            <li style="color:rebeccapurple">@item</li>
        }
    </ul>
</div>

